DB_HOST=xxxx.prod.xxx.tidbcloud.com
DB_PORT=4000
DB_USERNAME='userxxx'
DB_PASSWORD='passwordyyy'
DB_DATABASE='dbnametidbcloud'

OLLAMA_API="http://localhost:11434/api"
IMAGE_FOLDER="/Users/bytedance/Desktop"

VISION_MODEL="moondream"
TRANSLATE_MODEL="qwen2:1.5b"
EMBED_MODEL="nomic-embed-text"
REQUEST_TIMEOUT=60