#database
DB_HOST=host.com
DB_PORT=123
DB_USERNAME='database username'
DB_PASSWORD='database password'
DB_DATABASE='vector database name'

#ollama API config
OLLAMA_API="http://localhost:11434/api"
# Ganti path ini ke mount point folder SSD/NAS Anda di Mac
IMAGE_FOLDER="./sample-image" 

VISION_MODEL = "llava:7b"
TRANSLATE_MODEL = "llava:7b"
EMBED_MODEL = "nomic-embed-text"